---
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [markdown, yaml, json, html, css, javascript]
        exclude: ^(_site/|.jekyll-cache/|vendor/)
