name: Markdown Lint

on:
  pull_request:
    paths:
      - "**.md"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          config: .linter/markdownlint.yaml
          globs: |
            **/*.md
            !node_modules
